* {
    padding: 0;
    margin: 0;
}

canvas {
    width: 500px;
    height: 500px;
    background-color: #c5c5c5;
}

#btnGroup{
    margin-top: 1em;
}

#btnArr{
    display: flex;
    justify-content: center;
}

#btnIzqDer{
    display: flex;
    justify-content:center;
    margin-top: 0.5em;
}

#btnAba{
    display: flex;
    justify-content:center;
    margin-top: 0.5em;
}